<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script type="text/javascript">
        var data = {
                "data": "successful",
                "carInfo": [
                {"carId": 2, "carType": "Toyota Camry", "carPrice": 100.0, "rentFlag": 0},
                {
            "carId": 3,
            "carType": "BMW 650",
            "carPrice": 200.0,
            "rentFlag": 0
        },
        {
            "carId": 4,
            "carType": "BMW 650",
            "carPrice": 200.0,
            "rentFlag": 0
        }
        ]
        }

        window.onload = function(){
            var displayBtnElt = document.getElementById("displayBtn");
            displayBtnElt.onclick = function(){
                var cars = data.carInfo;
                var html = "";
                for(var i = 0; i<cars.length;i++){
                    var car = cars[i]
                    html += "<tr>";
                    html += "<td>"+car.carId+"</td>";
                    html += "<td>"+car.carPrice+"</td>";
                    html += "<td>"+car.carType+"</td>";
                    html += "<td>"+car.rentFlag+"</td>";
                    html += "</tr>";
                }
                document.getElementById("carinfo").innerHTML = html;
            }
        }
    </script>
    <input type="button" value="Check Available Cars" id="displayBtn"/>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Car Model</th>
            <th>Rental Price</th>
            <th>Car Availability</th>
        </tr>
        </thead>
        <tbody id="carinfo">
        <tr th:each="car,stat:${carinfo}">
            <td th:text="${stat.count}"></td>
            <td th:text="${car.carType}"></td>
            <td th:text="${car.carPrice}"></td>
            <td th:text="${car.rentFlag}">1</td>
        </tr>
        </tbody>
    </table>

</body>
</html>