<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fwy.carrentaldemo.mapper.ContractMapper">
    <!-- Update -->
    <insert id="addNewContract" parameterType="com.fwy.carrentaldemo.entity.Contract">
        insert into contract_tbl(begindate, returndate, carId, customerInfo)
        values(#{begindate}, #{returndate},#{carId},#{customerInfo})
    </insert>
    <!-- Query -->
    <select id="queryAllContract" resultType="com.fwy.carrentaldemo.entity.Contract">
        SELECT
            *
        FROM car_rental_db.contract_tbl
        /*WHERE rentFlag = 0*/
    </select>
</mapper>